{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password Confirm{% endblock %}


{% block content %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="card p-3" style="width: 350px;margin: 0 auto;">
            <h4 class="mb-3 border-bottom pb-3">Reset Password Confirm</h4>
            {% for fm in form %}
                <div class="form-group">
                    {{ fm.label_tag }}{{ fm }}<small class="text-danger">{{ fm.errors|striptags }}</small><br>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_error %}
                        <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        <input type="submit" class="btn btn-primary mt-4" value="save">
        </div>
    </form>

{% endblock %}